.code {
    font-size: 15px;
    width: auto;
    background-color: #fff;
   color: #000;
   padding: 8px 12px;
   border-left: 4px solid #30463e;
   word-wrap: break-word;
   border-left: 4px solid #30463e;
   margin-top: 16px!important;
   margin-bottom: 16px!important; 
   font-family: Consolas,Menlo,"courier new",monospace;
   font-size: 16px;
}
